.title {
    text-align: center;
}
.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2em;
}

.card {
    width: 55%;
    border: 1px solid black;
    border-radius: 10px;
}

footer {
    text-align: center;
}

.subtitle, .text {
    padding: 0.5em;
    text-align: center;
}