* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #e4e9ea;
}
.title {
    text-align: center;
    padding: 0.5em;
    
}
.container {
   margin-top: 2em;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2em;
}

.card {
    width: 55%;
    padding: 2em;
    border-radius: 10px;
    background-color: #e4e9ea;
    display: flex;
    flex-direction: column;   
    text-align: center;
}
.card:hover {
    width: 60%;
}
.time {
    margin-left: auto;
    margin-bottom: 1em;
    padding: 0.3em;
    border-radius: 10px;
    background-color: #e7dce7;
    border: 1px solid rgb(194, 194, 194);
}
footer {
    margin-top: 2em;
    padding: 0.5em;
    text-align: center;
    background-color: #e4e9ea;
}

.subtitle, .text {
    padding: 0.5em;
}

.parallax {
 background-image: url(fundo.webp);
  background-size: cover; 
  background-attachment: fixed;
  
}